@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #f6f6f6;
  position: relative;
  color: #4f5665;
}

p {
  font-size: 16px;
  line-height: 30px;
}

li,
a,
button,
a:visited {
  font-size: 16px;
  text-decoration: none;
  list-style-type: none;
  color: #4f5665;
}

button {
  padding: 13px 15px;
  background-color: #f6f6f6;
  border: 1px solid #f53855;
  border-radius: 50px;
  cursor: pointer;
  /* transition: all 0.3s ease 0s; */
  width: 150px;
  height: 45px;
}

button:hover,
.col-child2 button:hover {
  background-color: #f53838;
  color: #f6f6f6;
}

/*
  Header Elements 
////////////////////////////////////////////////////////////////
*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  width: 100%;
  margin: 10px;
}

.black {
  color: #0b132a;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 10px;
  width: 35px;
  height: auto;
}

.logo-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  padding: 20px;
}

.nav__links li a:hover {
  color: #f53855;
}

.align-right {
  font-weight: bold;
  width: 53px;
  height: 19px;
  padding-right: 30px;
}

.container {
  width: 100%;
  margin: 10px;
}
/*
 * Hero Section Elements with Feature Image 1 
////////////////////////////////////////////////////////////////
*/
.hero-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.hero-section .content {
  width: 100%;
}

.hero-section .feature-img {
  width: 100%;
}

.content h1 {
  /* top: 206.77px; */

  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
}

.content p {
  height: 60px;
}

.btn {
  width: 250px;
  height: 60px;

  background: #f53838;
  border-radius: 10px;
  color: #ffffff;
  font-weight: bold;
  line-height: 25px;
}
.content .btn {
}

/*
  Vertical TAB Elements
////////////////////////////////////////////////////////////////
*/

.tab {
  position: relative;
  left: 150px;
  right: 150px;
  top: 248px;
}

.even-columns {
  display: flex;
  width: 1140px;
  height: 200px;
  justify-content: space-evenly;

  background: #ffffff;
  border-radius: 10px;
  padding: 15px;
}

.col {
  width: 380px;
  border-right: 2px solid #eeeff2;
  display: flex;
  padding: 68px 0 68px 91px;
}

.col img {
  position: relative;
  padding: 20px;
}
.col-left {
  top: 73px;
  background-color: #ffecec;
  width: 55px;
  height: 55px;
  border-radius: 70px;
}

.col-right {
  padding-left: 37px;
  height: 65px;
  width: 53px;
}

.col-remove {
  border: none;
}

/*
  Section 1 elements with Feature Image 2 
////////////////////////////////////////////////////////////////
*/

.section-1 {
  position: relative;
  top: 296px;
  max-width: 1106px;
  height: 415px;
  padding-top: 53px;
}
.feature-img-2 {
  position: absolute;
  left: 185px;
  width: 508px;
  height: 415px;
}

.section-1-child {
  position: absolute;
  top: 108px;
  left: 862px;
  width: 428px;
  line-height: 30px;
  align-items: center;
  justify-content: center;
}

.section-1-child h2 {
  width: 383px;
  height: 100px;

  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
}

.section-1-child p {
  width: 428px;
  height: 60px;
  padding-top: 10px;
  left: 862.12px;
}

.section-1-child ul {
  position: absolute;
  top: 180px;
}

.section-1-child li {
  list-style-position: inside;
  font-size: 14px;
  display: flex;
}

.image {
  width: 24px;
  height: 24px;
}

.text {
  padding-left: 15px;
  height: 30px;
}

/* Section 2 with Columns 
----------------------------------------------- */
.section-2 {
  position: relative;
  width: 1070px;
  height: 950px;
  top: 565px;
}

.section-2-child1 {
  position: absolute;
  width: 555px;
  height: 130px;
  left: 442px;
}

.section-2-child1 h2 {
  position: absolute;
  width: 383px;
  height: 50px;
  left: 86px;

  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
}

.section-2-child1 p {
  position: absolute;
  width: 555px;
  height: 60px;
  top: 60px;

  text-align: center;
}

.section-2-child2 {
  position: absolute;
  width: 1060px;
  top: 190px;
  left: 174px;
}

.column {
  width: 330px;
  height: 760px;

  background-color: #ffffff;
  border: 2px solid #dddddd;
  border-radius: 10px;
  line-height: 30px;
}

.col-img {
  position: relative;
  width: 145px;
  height: 165px;
  left: 93px;
  top: 80px;
}
.column h2 {
  position: relative;
  height: 30px;
  top: 92px;
  text-align: center;
}

.col-child1 {
  position: relative;
  height: 445px;
}

.col-child1 ul {
  position: absolute;
  top: 300px;
  left: 70px;
}
.col-child1 li {
  list-style-position: inside;
  display: flex;
  font-size: 14px;
}
.col-child2 {
  position: relative;
}
.col-child2 h2 {
  position: relative;
  top: 130px;
}

.col-image {
  width: 24px;
  height: 24px;
}

.col-child2 button {
  position: relative;
  width: 178px;
  height: 45px;
  top: 180px;
  left: 76px;

  background: #ffffff;
  border: 2px solid #f53838;
  box-sizing: border-box;
  border-radius: 50px;
}

.select {
  line-height: 19px;
  color: #f53838;
  font-weight: bold;
}

.first {
  position: absolute;
}

.second {
  position: absolute;
  left: 380px;
}

.third {
  position: absolute;
  left: 760px;
}
.section-3 {
  position: relative;
  top: 700px;
  height: 1080px;
}

.section-3-child {
  position: absolute;
  height: 180px;
}

.section-3-child h2 {
  position: absolute;
  width: 383px;
  height: 100px;
  left: 528px;

  font-weight: 500;
  font-size: 35px;
  text-align: center;
  line-height: 50px;
}

.section-3-child p {
  position: absolute;
  top: 120px;
  width: 555px;
  height: 60px;
  left: 442px;

  text-align: center;
}

.feature-img-3 {
  position: absolute;
  top: 276px;
  width: 1060px;
  height: 538px;
  left: 190px;
}

.section-3-child2 {
  position: absolute;
  top: 872px;
  left: 145px;
  width: 1135px;
  height: 208px;
  border-radius: 5px;
  /* border: 2px solid red; */
}

.inside {
  display: flex;
}

.inside .a {
  position: absolute;
  width: 200px;
  height: 113px;
  padding: 48px 0px;
}

.inside .b {
  position: absolute;
  width: 190px;
  height: 60px;
  padding: 74px 23px;
  left: 242px;
}

.inside .c {
  position: absolute;
  width: 278px;
  height: 208px;
  left: 432px;
}

.inside .d {
  position: absolute;
  width: 187px;
  height: 64px;
  left: 710px;
  padding: 74.16px 0;
}

.inside .e {
  position: absolute;
  width: 171px;
  height: 51px;
  left: 950px;
  padding: 74.16px 0;
}

/*
 * Section 4 Elements with Reviews 
 */

.section-4 {
  position: relative;
  top: 1130px;
  width: 1450px;
  height: 590px;
}

.section-4-child1 {
  position: absolute;
  width: 555px;
  left: 442px;
  height: 180px;
}
.section-4-child1 h2 {
  position: absolute;
  height: 100px;
  left: 54px;

  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
}

.section-4-child1 p {
  position: absolute;
  top: 120px;
  height: 60px;
  width: 555px;

  text-align: center;
}

.section-4-child2 {
  position: absolute;
  top: 210px;
  left: 150px;
  width: 1300px;
  height: 240px;
}

.review {
  width: 1300px;
  height: 340px;
}

.review-col1,
.review-col2,
.review-col3 {
  width: 400px;
  height: 230px;
  padding: 30px;

  background: #ffffff;
  border: 2px solid #f53838;
  border-radius: 10px;
}

.review-col1 {
  position: absolute;
  /* left: 150px; */
}

.review-col2 {
  position: absolute;
  left: 450px;
}

.review-col3 {
  position: absolute;
  left: 450px;
  top: -5px;
}
.review .child {
  display: flex;
  justify-content: space-around;
}
.review h3 {
  font-weight: 500;
  font-size: 18px;

  text-align: center;
}

.review span {
  font-size: 14px;
  text-align: center;
}

.review p {
  font-weight: normal;
}

.slide-button {
  position: absolute;
  top: 300px;
  width: 1300px;
  display: flex;
  justify-content: space-between;
}

.dots-only {
  position: absolute;
  left: 60px;
  top: 1px;
}

.dots-only img {
  padding-right: 15px;
}

.arrows {
  width: 140px;
  height: 60px;
}

.arrows img {
  padding: 20px;
}
.left {
  position: absolute;
  top: -20px;
  width: 60px;
  height: 60px;
  border: 2px solid #f53838;
  border-radius: 70px;
}

.right {
  position: relative;
  top: -20px;
  left: 80px;
  width: 60px;
  height: 60px;
  border: 2px solid #f53838;
  background: #f53838;
  border-radius: 70px;
}

/*
 * Subscription Box 
 */

.subscription {
  position: absolute;
  z-index: 10;
  top: 630px;
  width: 1140px;
  left: 150px;
  height: 233px;

  background: #ffffff;
  border-radius: 10px;
}

.subscription h2 {
  position: absolute;
  left: 70px;
  top: 58px;

  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  align-items: center;
}

.subscription p {
  position: absolute;
  left: 70px;
  width: 410px;
  top: 159px;
}

.subscription button {
  position: absolute;
  width: 250px;

  top: 87px;
  left: 820px;
}

/* 
 * Footer Elements 
 */

footer {
  position: relative;
  top: 1300px;
  height: 563px;
  left: 150px;
  background-color: #f8f8f8;
}

footer .logo {
  position: absolute;
  top: 172px;
}

footer .logo-text {
  position: absolute;
  left: 45px;
  top: 177px;
}

footer p {
  position: absolute;
  width: 340px;
  height: 62px;
  top: 236px;
}

.social {
  position: absolute;
  left: -14px;
  top: 320px;
  height: 34px;
  width: 142px;
  display: flex;
  justify-content: space-between;
}

.social img {
  width: 50px;
  height: 50px;
}

.copyright {
  position: relative;
  top: 380px;
  width: 132px;
  height: 30px;

  color: #afb5c0;
}

.footer-child2 {
  position: absolute;
  left: 570px;
}

.footer-child3 {
  position: absolute;
  left: 770px;
}

.footer-child4 {
  position: absolute;
  left: 945px;
}

.footer-child2,
.footer-child3,
.footer-child4 {
  position: absolute;
  top: 150px;
}
.footer-child2 li,
.footer-child3 li,
.footer-child4 li {
  padding: 20px;
}

footer .title {
  font-weight: 500;
  color: #0b132a;
}

/* Responsive 
--------------------------------------*/

@media screen and (min-width: 768px) {
  .container,
  header,
  footer {
    max-width: 1440px;
    margin: 0 auto;
  }

  .hero-section .content {
    width: 50%;
    padding: 20px;
  }

  .hero-section .feature-img {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
}
