@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #f8f8f8;
  position: relative;
  color: #4f5665;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

li,
a,
button,
a:visited {
  font-size: 16px;
  text-decoration: none;
  list-style-type: none;
  color: #4f5665;
}

button {
  padding: 13px 15px;
  background-color: #f6f6f6;
  border: 1px solid #f53855;
  border-radius: 50px;
  cursor: pointer;
  /* transition: all 0.3s ease 0s; */
  width: 150px;
  height: 45px;
}

button:hover {
  background-color: #f53838;
  color: #f6f6f6;
}

.for-desktop {
  display: none;
}

.not-for-desktop {
  display: block;
}

/*
  Header Elements 
////////////////////////////////////////////////////////////////
*/

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px;
  width: 100%;
}

.black {
  color: #0b132a;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left .nav {
  width: calc(80% - 50px);
}

.header-right {
  width: 100%;
}

.nav {
  width: 100%;
  margin: 15px 0 0;
}

.nav__links li {
  width: 100%;
  background: #eeeeee;
  margin-bottom: 1px;
}

.logo {
  margin-right: 10px;
  width: 35px;
  height: auto;
}

.logo-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.nav__links {
  list-style: none;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  padding: 10px 10px;
  display: block;
}

.nav__links li a:hover {
  color: #f53855;
}

.align-right {
  font-weight: bold;
  padding-right: 20px;
  display: inline-block;
  min-width: 85px;
}

.container {
  width: 100%;
  padding: 15px;
}

.call-to-action-links {
  padding: 10px;
  background: #eeeeee;
}

.header .hamburger .fa-times,
.header .header-right {
  display: none;
}

.header.expanded .fa-times,
.header.expanded .header-right {
  display: block;
}

.header.expanded .fa-bars {
  display: none;
}

/*
 * Hero Section 
////////////////////////////////////////////////////////////////
*/
.hero-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  margin: 50px 0;
}

.hero-section h1 {
  margin: 15px 0;
  font-size: 35px;
  line-height: 1.5;
}

.hero-section p {
  font-size: 20px;
  line-height: 1.5;
}

.hero-section .content {
  width: 100%;
  text-align: center;
}

.hero-section .feature-img {
  width: 100%;
}

.btn {
  margin-top: 15px;
  width: 200px;
  height: 60px;
  background: #f53838;
  border-radius: 10px;
  color: #ffffff;
  font-weight: bold;
  line-height: 25px;
}

/*
 * Counter Section
////////////////////////////////////////////////////////////////
*/

.counter-section {
  display: flex;
  flex-wrap: wrap;
  background: #ffffff;
  border-radius: 10px;
  margin: 50px;
}

.col {
  border-bottom: 1px solid #eeeff2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px;
}

.col:last-child {
  border: none;
}

.counter-content {
  display: flex;
}

.col img {
  padding: 20px;
}

.col-left {
  background-color: #ffecec;
  width: 55px;
  height: 55px;
  border-radius: 100%;
}

.col-right {
  padding-left: 30px;
}

/*
 * Feature Display Section
////////////////////////////////////////////////////////////////
*/

.feature-display-section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  text-align: center;
}

.feature-display-section .feature-img {
  width: 100%;
}

.feature-display-section .content {
  margin-top: 15px;
}

.feature-display-section .content h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.5;
}

.feature-display-section .content ul {
  width: 60%;
  margin-top: 15px;
  margin: 15px auto 0;
}

.feature-display-section li {
  list-style-position: inside;
  font-size: 14px;
  display: flex;
}

.image {
  width: 24px;
  height: 24px;
}

.text {
  padding-left: 15px;
  height: 30px;
}

/*
 * Pricing Section
----------------------------------------------- */
.pricing-section {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 50px;
}

.pricing-intro h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.5;
}

.pricing-cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 10px;
  line-height: 30px;
  margin-top: 15px;
  padding: 50px 0;
}

.card:hover {
  border: 1px solid #f53838;
}

.card-info .col-img {
  margin: 20px auto;
}

.card-info ul {
  width: 60%;
  margin: 50px auto;
  background: #f6f6f6;
  padding: 15px;
}

.card-info li {
  list-style-position: inside;
  display: flex;
  font-size: 14px;
}

.col-image {
  width: 24px;
  height: 24px;
}

.card-action button {
  background: #ffffff;
  border: 2px solid #f53838;
  box-sizing: border-box;
  border-radius: 50px;
  margin-top: 15px;
}

.card-action button:hover {
  background-color: #f53838;
  color: #f6f6f6;
}

/*
 * Network Section
----------------------------------------------- */
.network-section {
  text-align: center;
  /* font-weight: bold; */
  margin-bottom: 50px;
}

.network-section h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.5;
}

.world-map {
  margin-top: 25px;
  width: 100%;
}

/*
 * Partners Section
----------------------------------------------- */
.partners-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.partner-link {
  width: 130px;
  display: block;
  padding: 0 10px;
}

.partner-link img {
  width: 100%;
}

/*
 * Testimonials Section
----------------------------------------------- */
.testimonials-section {
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}

.testimonials-section h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.5;
}

.testimonials-wrapper {
  overflow: hidden;
}

.testimonials {
  display: flex;
  width: 2000px;
}

.testimonial {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  background: #ffffff;
  border: 2px solid #f53838;
  border-radius: 10px;
  width: 80vw;
  margin-right: 20px;
}

.testimonial h3 {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.testimonial span {
  font-size: 14px;
  text-align: center;
}

.testimonial p {
  font-weight: normal;
  text-align: left;
}

.testimonial .child {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.testimonial .child .icon {
  width: 50px;
  height: 50px;
}

.slide-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}

.dots {
  display: flex;
}

.dot {
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 100%;
  background-color: #dddddd;
}

.dot:hover {
  background-color: #f53838;
}

.dot.selected {
  background-color: #f53838;
  width: 40px;
  border-radius: 20px;
}

.arrows {
  display: flex;
}

.arrows img {
  padding: 15px;
}

.left {
  width: 50px;
  height: 50px;
  border: 2px solid #f53838;
  border-radius: 100%;
  margin-right: 10px;
}

.right {
  width: 50px;
  height: 50px;
  border: 2px solid #f53838;
  background: #f53838;
  border-radius: 100%;
}

/*
 * Subscription Section 
 */

.subscription-section {
  background: #ffffff;
  z-index: 10;
  position: relative;
  border-radius: 10px;
  text-align: center;
  padding: 25px;
  box-shadow: 0 20px 20px -10px #ccc;
}

.subscription-section h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.5;
  align-items: center;
}

/* 
 * Footer Elements 
 */

footer {
  margin-top: -100px;
  background-color: #eee;
  padding: 150px 15px 50px;
  display: flex;
  flex-wrap: wrap;
}

footer .brand {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 20px;
}

.footer-child1,
.footer-child2,
.footer-child3,
.footer-child4 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.social {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.social img {
  width: 50px;
  height: 50px;
}

.copyright {
  width: 100%;
  height: 30px;
  color: #afb5c0;
  display: block;
}

footer li {
  padding: 20px;
}

footer .title {
  font-size: 20px;
  font-weight: 500;
  color: #0b132a;
}

/* Responsive 
--------------------------------------*/

@media screen and (min-width: 768px) {
  .container,
  header,
  footer {
    max-width: 1440px;
    margin: 0 auto;
  }

  .hero-section {
    flex-direction: row;
  }

  .hero-section .content {
    width: 50%;
    padding: 20px;
  }

  .hero-section .feature-img {
    width: 50%;
    object-fit: cover;
  }

  .counter-section .col {
    width: 33.333333%;
    border-bottom: none;
    border-right: 1px solid #eeeff2;
  }

  .feature-display-section .feature-img {
    width: 50%;
    object-fit: cover;
  }

  .feature-display-section .content {
    width: 50%;
    text-align: left;
    padding-left: 50px;
  }

  .feature-display-section .content ul {
    margin-left: 0;
    width: 100%;
  }

  .pricing-section .pricing-intro {
    width: 100%;
    text-align: center;
  }
  .pricing-cards {
    width: 100%;
    justify-content: space-between;
  }

  .pricing-cards .card {
    width: 32%;
  }

  .pricing-cards .card ul {
    width: 100%;
    background: none;
    min-height: 200px;
  }

  .testimonial {
    width: 40vw;
  }

  .subscription-section {
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
  }

  .subscription-section .btn {
    margin: 0;
  }

  footer {
    margin-top: -100px;
    padding-top: 120px;
  }

  .footer-child1 {
    justify-content: flex-start;
  }

  .footer-child1,
  .footer-child2,
  .footer-child3,
  .footer-child4 {
    width: 25%;
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .for-desktop {
    display: block;
  }

  .not-for-desktop {
    display: none;
  }

  .header {
    align-items: center;
    padding: 0 5%;
  }

  .header .nav {
    margin-top: 0;
    width: auto;
    background: none;
  }

  .header .nav__links li {
    background: none;
    width: auto;
    display: inline-block;
  }

  .header .call-to-action-links {
    display: flex;
    background: none;
    align-items: center;
  }
  .container,
  footer {
    max-width: 85%;
  }
  .counter-section {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .feature-display-section .content {
    padding: 16% 0 0 10%;
  }
  .pricing-section .pricing-intro {
    width: 100%;
    margin: 50px 0;
  }
  .pricing-cards .card ul {
    width: 80%;
    background: none;
    min-height: 210px;
    padding: 0 60px;
  }

  .network-section .network-intro {
    margin: 100px 0;
  }
  .partners-section .partner-link {
    margin-right: 30px;
    width: 200px;
  }
  .testimonials-section .testimonials-intro {
    margin-bottom: 50px;
  }
  .testimonials-section .testimonial {
    width: 30vw;
  }
  /* .subscription-section {
    width: 90%;
    margin: 0 auto;
  } */
  footer {
    max-width: 100%;
    padding: 150px 150px 0 150px;
    display: flex;
  }
  .footer-child1 {
    width: 40%;
    margin: 15px 0 0 -15px;
    flex-direction: column;
  }
  .footer-child1 p {
    padding: 20px 0;
  }
  .footer-child1 .social {
    display: block;
    margin: 0 0 0 -10px;
  }
  .footer-child2,
  .footer-child3,
  .footer-child4 {
    width: 20%;
  }
}
